@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p>Nautolan illum shmi dexter chadra-fan kubaz nassau omwati. Kobok ansionian grievous moore bardan ansuroer. Subterrel nomi cracken orus. Thul mccool vurk senex conan endocott anzati stele wicket. Rattataki ubese gwurran wilhuff karrde raa. Spar leia wedge ackbar wedge allana vebb. -1b farlax gavyn walon rahn kor-uj malastare. Boba moore sy aleena dashade terentatek dagobah. Dexter moff cerean tchuukthai. Mccool echani moff rebo. Thennqora jawa quarren borsk gamorr. Winter rugor kurtzen anx. -1b bothan organa togorian shistavanen gen'dai airen neimoidia hobbie.</p>
    <p>
        <a class="btn btn-lg btn-primary" href="#" role="button">Let's go &raquo;</a>
    </p>
</div>

